h2 {
  color: red;
}
body {

}
.topsy {
  background: grey;
  width: auto;
  margin: 0px;
}
.Racetrack td {

  height: 300px;
  width: 1200px;
  margin: 0 auto;
  color: black;
  border:  grey solid 3px;
  text-align: center;

}
.active {
  background-color: white;
  /*text-align: right;*/

}
