/*title {*/
  background-color: black;
}

h2 {
  background-color: black;
}
.topsy {
  background: grey;
  width: auto;
  margin: 0px;
}
.Racetrack td {
  height: 300px;
  width: 1200px;
  margin: 0 auto;
  color: #800020;
  border:  grey solid 3px;
  text-align: center;
  background-color: null;*/
}
.start {
  background-color: #cc6666;
  /*text-align: right;*/
}
.start2 {
  background-color: #7f1ae5;
}

;
